<div class="container">
  <header class="page-header">
    <%- partial('_partial/breadcrumbs', { breadcrumbs: ['<a href="/project-andromeda">Project Andromeda</a>', page.title] }) %>
    <h1>
      <span class="andromeda-header">Project Andromeda</span>:
      <%- page.title %>
    </h1>
    <%- partial('_partial/date', {display_date: page.date, date_format: 'MMMM DD, YYYY'}) %>
  </header>
  <article class="page">
    <%- page.content %>
  </article>
</div>
