<div class="container">
  <header class="page-header">
    <ol class="breadcrumbs">
      <li>
        <a href="/">drhayes.io</a>
      </li>
      <li>
        <h1 class="font-initial">
          <a href="/project-andromeda">Project Andromeda</a>
        </h1>
      </li>
      <li>
        <h1><%- page.title %></h1>
      </li>
    </ol>
    <%- partial('_partial/date', {display_date: page.date, date_format: 'MMMM DD, YYYY'}) %>
  </header>
  <article class="page">
    <%- page.content %>
  </article>
</div>
