<div class="container">
  <header class="page-header">
    <h1 class="index-header">drhayes.io</h1>
    is the personal website of
    <strong>David R. Hayes</strong>
  </header>
  <div class="main-page">
    <h2>Here</h2>
    <ul>
      <li>
        <a href="/project-andromeda">Project Andromeda</a>
      </li>
    </ul>
    <h2>Elsewhere</h2>
    <ul>
      <li>
        <a href="https://twitter.com/drhayes">drhayes on Twitter</a>
      </li>
      <li>
        <a href="https://github.com/drhayes">drhayes on GitHub</a>
      </li>
      <li>
        <a href="https://drhayes.tumblr.com">drhayes on Tumblr</a>
      </li>
    </ul>
  </div>
</div>
