<div class="container">
  <h1>
    David R. Hayes
    <small>drhayes.io</small>
  </h1>
  <div class="main-page">
    <ul>
      <li>
        <a href="/project-andromeda">Project Andromeda</a>
      </li>
    </ul>
  </div>
</div>
