<div class="container">
  <header class="page-header">
    <a href="/">drhayes.io</a>
  </header>
  <article class="post">
    <header class="post-header">
      <h2><%= page.title %></h2>
    </header>
    <%- page.content %>
  </article>
</div>
