<ol class="breadcrumbs">
  <li>
    <a href="/">drhayes.io</a>
  </li>
  <%
    var pathSegments = page.path.split('/');
    pathSegments = pathSegments.slice(0, -1);
    for (var i = 0; i < pathSegments.length; i++) {
      var segment = pathSegments[i];
      var breadcrumb = site.data.breadcrumbs[segment];
      if (!breadcrumb) {
        continue;
      }
  %>
  <li><%- breadcrumb %> </li>
  <% } %>
</ol>
