@import "_reset.less";
@import "_variables.less";

body {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 16px;
}

.container {
  width: 90%;
  margin: 2em auto;
}

h1 {
  font-size: 120%;
  font-weight: 700;

  small {
    font-size: 80%;
    opacity: 0.5;
  }
}
