@import "_reset.less";
@import "_variables.less";

.container {
  width: 90%;
  margin: 2em auto;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 250%;

  small {
    font-size: 50%;
    opacity: 0.5;
  }
}
