$header-font-family: "Economica", sans-serif;

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 250%;

  small {
    opacity: 0.5;
    font-size: 50%;
  }
}
